@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;900&display=swap');

/* reset code starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Nunito",sans-serif;
    font-weight: 400;
}
/* rset code endfs here */
body{
    background-image:url(pexel.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 32rem;
    height: 20rem;
    background-image: url(card1.jpg);
    border-radius: 0.6rem;
    padding: 1rem;
    color: white;
    box-shadow: 0.1rem 0.1rem 0.1rem #222, -0.2rem 0 0.2rem #222;
}
.card:hover{
    box-shadow: 0.2rem 0.2rem 0.2rem #222, -0.2rem 0 0.2rem #222;
}
.card-title{
    text-align: center;
    color: white;
    margin-bottom: 1rem;
}
.form-field{
    margin-bottom: 1rem;
}
input{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: rgb(96, 111, 126);
    color: wheat;
    cursor: pointer;
    font-size: 1.2rem;
    width: 50%;
}
.buttons{
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 1rem 0;
}
.btn{
    border: none;
    border: 0.1rem solid;
    border-radius: 0.6rem;
    padding: 0.2rem;
    background-color: rgb(124, 133, 143);
    cursor: pointer;
    font-size: 1.2rem;
    transition: 1.3s;
    color: wheat;
}
.btn:hover{
    background-color: white;
    color: rgb(54, 211, 211);
}

p{
    text-align: center;
}
.large-text{
    font-size: 1.5rem;
    color: #222;
}
.farid{
    font-size: 1.2rem;
    color: black;
    padding: 10px;
    float: right;
    font-family: "Nunito",sans-serif;
}
@media screen and (max-width:600px) {
    body{
        background-image: url(pexel.jpg);
        background-repeat: no-repeat;   
         
    }
    .card{
        width: 28rem;
    }
    input{
        width: 45%;
    }
}
@media screen and (max-width:400px) {
    .card{
        width: 25rem;
    }
    .card-title{
        text-align: center;
        color: white;
        margin-bottom: 0.5rem;
    }
    input{
        width: 40%;
    }
    @media screen and (max-width:390px) {
        .card{
            width: 23rem;
        }
        input{
            width: 31%;
        }
        .btn{
            font-size: 0.9rem;
        }
    }
}